///*------------------------------------*\
//	 #TEXT-ALIGN-RESPONSIVE
//\*------------------------------------*/

//    Responsive text align classes based on your responsive settings.

//    Predefine the variables below in order to alter and enable specific features.
$plump-text-align-responsive-namespace: $plump-namespace !default;
$plump-enable-responsive-text-align--symbol: false !default;





@if $plump-enable-responsive-text-align--symbol == true {

	@each $breakpoint in $breakpoints {

		$alias:     nth($breakpoint, 1);
		$condition: nth($breakpoint, 2);

		// This isn’t ideal, but we definitely don’t want to generate text-aligns
		// for retina devices. Exclude retina text-aligns manually.
		@if ($alias != "retina") {

			@include media-query($alias) {

				[class~="#{$plump-text-align-responsive-namespace}u-ta\<-#{$alias}"]     { text-align: left !important; }
				[class~="#{$plump-text-align-responsive-namespace}u-ta\>-#{$alias}"]     { text-align: right !important; }
				[class~="#{$plump-text-align-responsive-namespace}u-ta\<\>-#{$alias}"]   { text-align: center !important; }


			} // Close media query.

		} // Close retina check.

	} // Close breakpoints loop.

} // Close fractions @if.





@else {

	@each $breakpoint in $breakpoints {

		$alias:     nth($breakpoint, 1);
		$condition: nth($breakpoint, 2);

		// This isn’t ideal, but we definitely don’t want to generate text-aligns
		// for retina devices. Exclude retina text-aligns manually.
		@if ($alias != retina) {

			@include media-query($alias) {

				.#{$plump-text-align-responsive-namespace}u-tal-#{$alias}                { text-align: left !important; }
				.#{$plump-text-align-responsive-namespace}u-tar-#{$alias}                { text-align: right !important; }
				.#{$plump-text-align-responsive-namespace}u-tac-#{$alias}                { text-align: center !important; }

			} // Close media query.

		} // Close retina check.

	} // Close breakpoints loop.

} // Close fractions @if.
